@import 'LoaderCube.scss';

@mixin animation($duration, $animation) {
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@keyframes changecolour {
    0% {
        color: rgba($color: #fff, $alpha: 0);
    }

    100% {
        color: rgba($color: #fff, $alpha: 1);
    }
}

$containerMargin: 1em;

.simr-loader {
    top: -$containerMargin;
    left: -$containerMargin;
    bottom: -$containerMargin;
    right: -$containerMargin;
    position: absolute;

    background-image: radial-gradient(
        ellipse at center,
        rgba($color: #000, $alpha: 0.5),
        rgba($color: #000, $alpha: 1)
    );

    transition: opacity 2s;
    opacity: 0.7;

    z-index: 10;
}

.simr-loader-api-error {
    background-image: radial-gradient(
        ellipse at center,
        rgba($color: #000, $alpha: 0.7),
        rgba($color: #200, $alpha: 0.8)
    );

    top: -$containerMargin;
    left: -$containerMargin;
    bottom: -$containerMargin;
    right: -$containerMargin;

    &:after {
        content: 'Got API error, try again later';
        color: white;
        font-size: 150%;

        @include animation(2s, changecolour);
    }

    transition: opacity 2s;
    opacity: 1;

    .sk-folding-cube {
        display: none;
    }
}